<%= simple_form_for @transaction, wrapper: :bootstrap3_horizontal,
  defaults: { right_column_html: { class: "col-lg-6 col-md-6"},
  label_html: { class: "col-lg-2 col-md-2" } },
  html: { class: "form-horizontal", role: "form" } do |f| %>

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>transaction</legend>

  <%= f.input :merchant %>

  <%= f.input :date, as: :datepicker,
      input_html: { "data-format" => "YYYY/MM/DD" } %>

  <%= f.input :transaction_type, as: :select,
      collection: TransactionType.select_options,
      selected: @transaction.transaction_type.to_s %>

  <%= f.input :amount,
      input_html: { type: "number", step: "0.01" } %>

  <%= f.input :category_list %>

  <%= f.input :note %>

  <%= f.input :avoidable, :as => :boolean, boolean_style: :inline %>

  <%= f.input :recurring, :as => :boolean, boolean_style: :inline %>

  <div class="recurring-transaction hide">
    <%= f.input :recurrence_interval, disabled: true, as: :select,
      collection: RecurrenceInterval.select_options %>
  </div>

  <%= f.input :tag_list %>

  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to 'cancel', transactions_path, class: "btn btn-danger" %>

<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function () {
      $('#transaction_date').datetimepicker({
         pickTime: false
      });

      $('#transaction_recurring').change(function() {
        $('.recurring-transaction')
          .toggleClass('hide')
          .find('div')
          .toggleClass('disabled')
          .find('select')
          .prop('disabled', function (_, val) {
            return !val;
          });
      });
    });
  </script>
<% end %>
