<% content_for :head do %>
  <style>

    text {
      font: 200 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  </style>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'vendor/d3.v3' %>
  <%= javascript_include_tag 'vendor/underscore' %>
  <%= javascript_include_tag 'transactions_index' %>
<% end %>

<h2 class="sub-header">
  <%= Date.today.strftime('%B %Y') %>
</h2>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <svg id="chart-saved-spent" viewBox="0 0 200 200"
      preserveAspectRatio="xMidYMid">
    </svg>
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="img-responsive income-percent"></div>
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="img-responsive income-percent"></div>
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="img-responsive income-percent"></div>
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>

<h2 class="sub-header">
  transactions
  <span class="pull-right">
    <%= link_to new_transaction_path do %>
      <button type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    <% end %>
  </span>
</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>date</th>
        <th>merchant</th>
        <th>amount</th>
        <th>category</th>
        <th>recurring?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.merchant %></td>
        <td>
          <% t = transaction.transaction_type %>
          <span class="<%= "#{t}" %>">
            <%= t == :credit ? "+" : "-" %>
          </span>
          <%= transaction.amount %>
        </td>
        <td>
          <% transaction.categories.each do |category| %>
            <span>
              <%= link_to category.name, transactions_tagged_path(tag: category.name) %>
            </span>
          <% end %>
        </td>
        <td>
          <% if transaction.recurring %>
            <span class="glyphicon glyphicon-ok"></span>
          <% end %>
        </td>
        <td class="text-right">
          <%= link_to edit_transaction_path(transaction) do %>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
