<%= simple_form_for @expense, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"},
  label_html: {class: "col-lg-2 col-md-2"} }, html: {class: "form-horizontal", role: "form"} do |f| %>

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>expense</legend>

  <%= f.input :description %>

  <%= f.input :merchant %>

  <%= f.input :date, as: :datepicker, input_html: { "data-format" => "YYYY/MM/DD" } %>

  <%= f.input :cost, input_html: { type: "number", min: "0.01", step: "0.01", max: "2500" } %>

  <%= f.input :avoidable, :as => :boolean, boolean_style: :inline %>

  <%= f.input :tag_list %>

  <%= f.button :submit, :class => 'btn btn-primary' %>
  <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>

<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function () {
      $('#expense_date').datetimepicker({
         pickTime: false
      });
    });
  </script>
<% end %>
