<!DOCTYPE html>
<%= html_tag class: "no-js" %>
  <%= render "head" %>
  <%= yield :head %>

  <body class="<%= controller.controller_name %>">
    <%= render "chromeframe" %>
    <%= yield :header %>

    <div class="container-fluid">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>


    <%# render "footer" %>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
  </body>
</html>
